In [1]:
import pandas as pd

In [2]:
url2='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_experiment_clients.txt' ## not important
url3='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_1.txt'
url4='https://raw.githubusercontent.com/data-bootcamp-v4/lessons/refs/heads/main/5_6_eda_inf_stats_tableau/project/files_for_project/df_final_web_data_pt_2.txt'

In [27]:
df_var = pd.read_csv(url2)
df_exp2 = pd.read_csv(url3)
df_exp1 = pd.read_csv(url4)

df_exp = pd.concat([df_exp1, df_exp2])

In [28]:
df_var

       client_id Variation
0        9988021      Test
1        8320017      Test
2        4033851   Control
3        1982004      Test
4        9294070   Control
...          ...       ...
70604    2443347       NaN
70605    8788427       NaN
70606     266828       NaN
70607    1266421       NaN
70608    9895983       NaN

[70609 rows x 2 columns]

In [29]:
df_exp

,client_id,visitor_id,visit_id,process_step,date_time
0,763412,601952081_10457207388,397475557_40440946728_419634,confirm,2017-06-06 08:56:00
1,6019349,442094451_91531546617,154620534_35331068705_522317,confirm,2017-06-01 11:59:27
2,6019349,442094451_91531546617,154620534_35331068705_522317,step_3,2017-06-01 11:58:48
3,6019349,442094451_91531546617,154620534_35331068705_522317,step_2,2017-06-01 11:58:08
4,6019349,442094451_91531546617,154620534_35331068705_522317,step_1,2017-06-01 11:57:58
...,...,...,...,...,...
343136,2443347,465784886_73090545671,136329900_10529659391_316129,confirm,2017-03-31 15:15:46
343137,2443347,465784886_73090545671,136329900_10529659391_316129,step_3,2017-03-31 15:14:53
343138,2443347,465784886_73090545671,136329900_10529659391_316129,step_2,2017-03-31 15:12:08
343139,2443347,465784886_73090545671,136329900_10529659391_316129,step_1,2017-03-31 15:11:37
343140,2443347,465784886_73090545671,136329900_10529659391_316129,start,2017-03-31 15:10:47

In [30]:
df = pd.merge(df_var, df_exp, on = 'client_id', how = 'inner')
df.dropna(subset = 'Variation', inplace  = True)

In [31]:
df

,client_id,Variation,visitor_id,visit_id,process_step,date_time
0,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07
1,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51
2,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22
3,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13
4,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04
...,...,...,...,...,...,...
321304,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_2,2017-04-11 08:45:38
321305,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_1,2017-04-11 08:44:43
321306,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_2,2017-04-11 08:44:30
321307,6334360,Test,629124187_65258232847,586047816_14599436811_389185,step_1,2017-04-11 08:42:36
321308,6334360,Test,629124187_65258232847,586047816_14599436811_389185,start,2017-04-11 08:42:20

In [32]:
df['confirm'] = df['process_step'].apply(lambda x :1 if x == 'confirm' else 0)
df.head(60)

,client_id,Variation,visitor_id,visit_id,process_step,date_time,confirm
0,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:27:07,0
1,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:26:51,0
2,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:19:22,0
3,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:19:13,0
4,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_3,2017-04-17 15:18:04,0
5,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_2,2017-04-17 15:17:15,0
6,9988021,Test,580560515_7732621733,781255054_21935453173_531117,step_1,2017-04-17 15:17:01,0
7,9988021,Test,580560515_7732621733,781255054_21935453173_531117,start,2017-04-17 15:16:22,0
8,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:54:43,0
9,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:38:42,0
10,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:22:40,0
11,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 18:06:39,0
12,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:50:38,0
13,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 17:34:37,0
14,9988021,Test,580560515_7732621733,219729223_42518459208_211914,start,2017-04-12 16:57:27,0
15,8320017,Test,39393514_33118319366,960651974_70596002104_312201,confirm,2017-04-05 13:10:05,1
16,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_3,2017-04-05 13:09:43,0
17,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_2,2017-04-05 13:08:40,0
18,8320017,Test,39393514_33118319366,960651974_70596002104_312201,step_1,2017-04-05 13:08:24,0
19,8320017,Test,39393514_33118319366,960651974_70596002104_312201,start,2017-04-05 13:08:06,0
20,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:03,1
21,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:29:01,1
22,4033851,Control,762728880_76361333336,949661017_22392791362_127391,confirm,2017-04-05 12:28:52,1
23,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:26:08,0
24,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:24:43,0
25,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:24:12,0
26,4033851,Control,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:24:04,0
27,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:26,0
28,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:26,0
29,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:10:25,0
30,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:10:25,0
31,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_3,2017-04-05 12:08:56,0
32,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_2,2017-04-05 12:06:37,0
33,4033851,Control,762728880_76361333336,949661017_22392791362_127391,step_1,2017-04-05 12:04:56,0
34,4033851,Control,762728880_76361333336,949661017_22392791362_127391,start,2017-04-05 12:04:00,0
35,1982004,Test,618934751_10082078917,132494692_73738638511_70823,confirm,2017-04-17 12:02:42,1
36,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_3,2017-04-17 12:01:09,0
37,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_2,2017-04-17 12:00:01,0
38,1982004,Test,618934751_10082078917,132494692_73738638511_70823,step_1,2017-04-17 11:59:46,0
39,1982004,Test,618934751_10082078917,132494692_73738638511_70823,start,2017-04-17 11:59:42,0
40,9294070,Control,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:28,0
41,9294070,Control,489274391_63794562906,116640698_27328181095_188045,start,2017-04-17 11:16:13,0
42,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:45,0
43,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_2,2017-04-16 13:24:16,0
44,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:24:07,0
45,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:24:05,0
46,9466803,Test,97277031_5793723360,812185460_4263902139_352107,step_1,2017-04-16 13:21:58,0
47,9466803,Test,97277031_5793723360,812185460_4263902139_352107,start,2017-04-16 13:21:51,0
48,3170143,Test,837774974_91015515080,758001412_25057963943_219559,confirm,2017-04-04 18:41:44,1
49,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_3,2017-04-04 18:41:03,0
50,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_2,2017-04-04 18:38:22,0
51,3170143,Test,837774974_91015515080,758001412_25057963943_219559,step_1,2017-04-04 18:38:14,0
52,3170143,Test,837774974_91015515080,758001412_25057963943_219559,start,2017-04-04 18:38:02,0
53,3170143,Test,379063706_63772164323,276066031_50736025801_795997,step_1,2017-04-06 12:11:19,0
54,3170143,Test,379063706_63772164323,276066031_50736025801_795997,start,2017-04-06 12:10:37,0
55,3170143,Test,377484839_40771885547,110454357_32145786652_758657,start,2017-04-09 09:05:26,0
56,6651403,Control,387438258_49845138949,754106292_61370647593_160929,confirm,2017-04-04 17:38:39,1
57,6651403,Control,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:34:03,0
58,6651403,Control,387438258_49845138949,754106292_61370647593_160929,step_2,2017-04-04 17:33:55,0
59,6651403,Control,387438258_49845138949,754106292_61370647593_160929,step_3,2017-04-04 17:31:32,0

In [33]:
df.confirm.unique()

array([0, 1])

In [34]:
df.groupby('visit_id')['confirm'].sum()

visit_id
100012776_37918976071_457913    2
100019538_17884295066_43909     1
100022086_87870757897_149620    1
100030127_47967100085_936361    0
100037962_47432393712_705583    0
                               ..
999971096_28827267783_236076    1
999976049_95772503197_182554    1
999984454_18731538378_781808    1
999985675_64610694964_443659    1
999988789_76411676596_272843    0
Name: confirm, Length: 69205, dtype: int64

In [35]:
df_grouped = pd.DataFrame(df.groupby(['visit_id','Variation'])['confirm'].sum()).reset_index()

In [36]:
df.groupby(['visit_id','Variation'])['confirm'].sum()

visit_id                      Variation
100012776_37918976071_457913  Test         2
100019538_17884295066_43909   Test         1
100022086_87870757897_149620  Test         1
100030127_47967100085_936361  Control      0
100037962_47432393712_705583  Control      0
                                          ..
999971096_28827267783_236076  Test         1
999976049_95772503197_182554  Test         1
999984454_18731538378_781808  Test         1
999985675_64610694964_443659  Control      1
999988789_76411676596_272843  Test         0
Name: confirm, Length: 69325, dtype: int64

In [37]:
df_grouped.confirm.value_counts()

confirm
1     34120
0     31548
2      2653
3       600
4       261
5        47
8        38
7        26
6        23
9         5
16        2
11        1
10        1
Name: count, dtype: int64

In [38]:
df_grouped['com (y/n)'] = df_grouped.confirm.apply(lambda x: 1 if x > 0 else 0)

In [39]:
df_grouped['com (y/n)'].value_counts()

com (y/n)
1    37777
0    31548
Name: count, dtype: int64

In [43]:
df_grouped.to_excel('completed_df.xlsx')

In [42]:
df_grouped

                           visit_id Variation  confirm  com (y/n)
0      100012776_37918976071_457913      Test        2          1
1       100019538_17884295066_43909      Test        1          1
2      100022086_87870757897_149620      Test        1          1
3      100030127_47967100085_936361   Control        0          0
4      100037962_47432393712_705583   Control        0          0
...                             ...       ...      ...        ...
69320  999971096_28827267783_236076      Test        1          1
69321  999976049_95772503197_182554      Test        1          1
69322  999984454_18731538378_781808      Test        1          1
69323  999985675_64610694964_443659   Control        1          1
69324  999988789_76411676596_272843      Test        0          0

[69325 rows x 4 columns]